{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% if object %}
<title>Edit {{ recipe.title }}</title>
{% else %}
<title>Add a Recipe</title>
{% endif %}
{% endblock%}

{% block content %}
    {% if object %}
    <h2>Edit - {{ object.title }}</h2>
    {% else %}
    <h2>Create a New Recipe</h2>
    {% endif %}
    <form 
      method="POST" 
      enctype="multipart/form-data" 
      data-loading-message="{% if object %}Updating your recipe...{% else %}Creating your recipe...{% endif %}"
      autocomplete="off"
    >
    
    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>{{ form.title.label_tag }} {{ form.title }}</p>
    <p>{{ form.source.label_tag }} {{ form.source }}</p>
    <small class="form-help">{{ form.source.help_text }}</small>
    <p>{{ form.description.label_tag }} {{ form.description }}</p>
    <p>{{ form.ingredients.label_tag }} {{ form.ingredients }}</p>
    <p>{{ form.instructions.label_tag }} {{ form.instructions }}</p>

    
    <div class="form-group">
      <label for="{{ form.photo.id_for_label }}">Photo:</label>  
      {% if scraped_image_url %}
      <div class="photo-preview">
        <p>Imported image</p>
        <img src=" {{ scraped_image_url }}" alt="uploaded photo" class="thumbnail" />
      </div>   
      {% endif %}
      {{ form.photo }}        
    </div>

    <p>{{ form.photo_credit.label_tag }} {{ form.photo_credit }}</p>
    <small class="form-help">{{ form.photo_credit.help_text }}</small>
    <p>{{ form.custom_tags.label_tag }} {{ form.custom_tags }}</p>
    {% if form.custom_tags.help_text %}
    <small class="form-help">{{ form.custom_tags.help_text }}</small>
    {% endif %}
    <div class="button-container">
      {% if object %}
      <button type="submit">Edit Recipe</button>
      <a href="{% url 'recipe_detail' object.id %}" class="btn cancel-btn">Cancel</a>
      {% else %}
      <button type="submit">Save Recipe</button>
      <a href="{% url 'recipe_create_choice' %}" class = "btn cancel-btn">Cancel</a>
      {% endif %}
      
    </div>  
  </form>

{% endblock %}