{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/recipe-detail.css' %}">
<title>Recipe Details</title>
{% endblock%}

{% block content %}
  <div class="recipe-detail">

    <h2>{{ recipe.title }}</h2>
    <p><strong>By:</strong> {{ recipe.author.username }}</p>

    {% if recipe.photo %}
      <img src="{{ recipe.photo.url }}" alt="{{ recipe.title }}" class="recipe-photo">
    {% endif %}

    <h3>Description</h3>
    <p>{{ recipe.description }}</p>

    <h3>Ingredients</h3>
    <ul>
        {% for line in recipe.ingredients.splitlines %}
          {% if line %}
            <li>{{ line }}</li>
          {% endif %}
        {% endfor %}
      </ul>

      <h3>Instructions</h3>
      <ol>
        {% for step in recipe.instructions.splitlines %}
          {% if step %}
            <li>{{ step }}</li>
          {% endif %}
        {% endfor %}
      </ol>

    {% if recipe.tags.all %}
      <h3>Tags</h3>
      <ul class="tag-list">
        {% for tag in recipe.tags.all %}
          <li class="tag">{{ tag.name }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if request.user == recipe.author %}
    <div class = "button container">
        <a class = "btn" href="{% url 'recipe_edit' recipe.id %}">Edit</a>
        <a class ="btn danger-btn" href="{% url 'recipe_delete' recipe.id %}">Delete</a>
    </div>
    {% endif %}
    <h3>Comments</h3>
    {% if recipe.comments.all %}
        <ul class="comment-list">
            {% for comment in recipe.comments.all %}
                <li>  
                    <strong>{{ comment.author.username }}</strong> on
                    <time class="utc-timestamp" datetime="{{ comment.created_at|date:"c" }}">
                        {{ comment.created_at|date:"M d, Y g:i A" }} MT
                    </time>                 
                    {{ comment.content|linebreaks }}                                     
                </li>
            {% endfor %}
        </ul>
    {% else %}     
        <p>No comments yet.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <form method="POST" class = "comment-form">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn">Post Comment</button>
        </form>
    {% else %}
        <p><a href="{% url 'signin' %}">Sign in</a> to leave a comment</p>
    {% endif %}
  </div>
{% endblock %}
