{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Edit Your Profile</title>
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<h2>Edit Your Profile</h2>

<form method="POST" enctype="multipart/form-data" data-loading-message="Updating your profile...">
  {% csrf_token %}

  <div class="form-group">
    {{ form.first_name.label_tag }}
    {{ form.first_name }}
  </div>

  <div class="form-group">
    {{ form.last_name.label_tag }}
    {{ form.last_name }}
  </div>

  <div class="form-group">
    {{ form.bio.label_tag }}
    {{ form.bio }}
  </div>

  <div class="form-group">
    {{ form.location.label_tag }}
    {{ form.location }}
  </div>

  <div class="form-group">
    <label for="{{ form.profile_picture.id_for_label }}">Photo:</label>     
      {{ form.profile_picture }}        
  </div>

  <button type="submit" class="btn">Save Profile</button>
</form>
{% endblock %}