{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script defer src="{% static 'js/main.js' %}"></script>
  {% block head %}
  {% endblock%}
</head>

<body>

  <nav>
    <ul>
      <li><a href="{% url 'landing' %}">Home</a></li>
      <li><a href="{% url 'recipe_list' %}">Recipes</a></li>
      {% if user.is_authenticated %}
      
      <li><a href="{% url 'collection_list' %}">My Collections</a></li>
      <li><a href="{% url 'recipe_create' %}">Add a New Recipe</a></li>
      <li><a href="{% url 'collection_create' %}">Add a New Collection</a></li>
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'signout' %}">Sign Out</a></li>
      {% else %}
      <li><a href="{% url 'signin' %}">Sign In</a></li>
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav>
  <header>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </header>

  <main>
    
    {% block content %}
    <!-- Page-specific content will be inserted here -->
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 Recipe Share App</p>
  </footer>

  <div id="loading-overlay" class="hidden">
    <div class="spinner"></div>
    <p>Submitting, please wait...</p>
  </div>


</body>

</html>