{% extends "base.html" %}
{% load static %}

{% block head %}
<Title>Recipe Box</Title>
{% endblock%}

{% block content %}
<div class="landing-container">
    <h1>Welcome to Recipe Box</h1>
    <p>Discover, create, and share your favorite recipes with the community.</p>
    <img src = "{% static 'img/salad.jpg' %}" width=400px />
    {% if not user.is_authenticated %}
        <div class="landing-buttons">
            <a href="{% url 'signup' %}" class="btn">Get Started</a>
            <a href="{% url 'signin' %}" class="btn">Sign In</a>
        </div>
    {% else %}
    <div class="landing-buttons">
        <a href="{% url 'recipe_list' %}" class="btn">Discover Recipes</a>
        <a href="{% url 'collection_list' %}" class="btn">Create Collections</a>
    </div>
    {% endif %}
</div>
{% endblock %}