{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/recipe-list.css' %}">
<title>{{ collection.name }}</title>
{% endblock %}

{% block content %}
<div class="collection-detail">
  <h2>{{ collection.name }}</h2>

  {% if collection.recipes.all %}
    <div class="recipe-list">
        {% for recipe in collection.recipes.all %}
        <div class="recipe-card" data-href="{% url 'recipe_detail' recipe.id %}">    
            <div class="recipe-thumb-container">                    
                {% if recipe.photo %}
                <img src="{{ recipe.photo.url }}" alt="{{ recipe.title }}" class="recipe-thumb">
                {% else %}
                <img src="{% static 'img/default-recipe-thumb.png' %}" alt="Default image" class="recipe-thumb">
                {% endif %}
            </div>
            <h4>{{ recipe.title }}</h4>
            
            <form method="POST" action="{% url 'collection_remove_recipe' collection.id recipe.id %}">
                {% csrf_token %}
                <button type="submit" class="btn danger-btn">Remove</button>
            </form>
        </div>
      {% endfor %}
    </div>
    {% if request.user == collection.user %}
    
    {% endif %}
  {% else %}
    <p>This collection doesn't have any recipes yet.</p>
  {% endif %}
  <div class = "button-container">
    <a class = "btn" href="{% url 'collection_update' collection.id %}">Edit</a>
    <a class ="btn danger-btn" href="{% url 'collection_delete' collection.id %}">Delete</a>
</div>
</div>
{% endblock %}