{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/collection-detail.css' %}">
<title>{{ collection.name }}</title>
{% endblock %}

{% block content %}

<h2>{{ collection.name }}</h2>


<div class="recipe-list">
    {% if collection.recipes.all %}
    {% for recipe in collection.recipes.all %}
    <div class="recipe-card" data-href="{% url 'recipe_detail' recipe.id %}">    
        <form 
            method="POST" 
            action="{% url 'collection_remove_recipe' collection.id recipe.id %}"
            class="delete-form"
           
        >
        {% csrf_token %}
            <button type="submit" class="delete-icon" title="Delete from Collection" aria-label="Delete from collection">
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
        <div class="recipe-thumb-container">
            {% if recipe.photo %}
                <img 
                  src="{{ recipe.get_jpg_url }}" 
                  alt="{{ recipe.title }}"                  
                  class ="recipe-thumb"
                  onerror="this.onerror=null; this.src='{% static 'img/default_recipe.jpg' %}';">
                {% else %}
                <img src="{% static 'img/default_recipe.jpg' %}" alt="{{ recipe.title }}" class ="recipe-thumb">
                {% endif %}         
        </div>                     
                  
        <h4>{{ recipe.title }}</h4>  
        <div class="cover-items">                     
            <form 
                method="POST" 
                action="{% url 'set_collection_cover' collection.id recipe.id %}" 
                class="set-cover-form"
            >
                {% csrf_token %}
                {% if collection.cover_recipe and collection.cover_recipe.id == recipe.id %}
                <button type="submit" class="selected" title="This is the current cover photo" disabled>
                Cover photo
                </button>
                {% else %}
                <button type="submit" class="set-cover-btn" title="Set as cover photo">
                Set as Cover Photo
                </button>
                {% endif %}
            </form>           
        </div>
    </div>
    {% endfor %}
   
    
    {% else %}
    <p>This collection doesn't have any recipes yet.</p>
    {% endif %}
</div>

<div class = "button-container">
    <a href="{% url 'recipe_list' %}?collection_id={{ collection.id }}" class="btn">Add Recipes to This Collection</a>
    <a class = "btn" href="{% url 'collection_update' collection.id %}">Edit</a>
    <a class ="btn danger-btn" href="{% url 'collection_delete' collection.id %}">Delete</a>
</div>

{% endblock %}