{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/collection-list.css' %}">
<title>Your Collections</title>
{% endblock%}

{% block content %}
<h2>Your Collections</h2>


<div class="collection-list">
    {% if collections %}
    {% for collection in collections%}
    <div 
        class="collection-card" 
        data-href="{% url 'collection_detail' collection.id %}"        
        data-id="{{ collection.id }}">
        <form 
            method="POST" 
            action="{% url 'collection_delete' collection.id %}"
            class="delete-form no-spinner"           
        >
        {% csrf_token %}
            <button type="submit" class="delete-icon" title="Delete Collection" aria-label="Delete Collection">
                <i class="fa-solid fa-trash"></i>
            </button>
            <input type="hidden" name="collection-name" value="{{collection.name}}">
        </form>
        
        <h3>{{ collection.name }}</h3>
        <div class="recipe-thumb-container">
            {% if collection.cover_recipe and collection.cover_recipe.photo %}
            <img 
                src="{{ collection.cover_recipe.photo.url }}" 
                alt="{{ collection.cover_recipe.title }}" 
                class="recipe-thumb"
            />
            {% elif collection.recipes.first and collection.recipes.first.photo %}
            <img 
                src="{{ collection.recipes.first.photo.url }}" 
                alt="{{ collection.recipes.first.title }}" 
                class="recipe-thumb"
            />
              
            {% else %}
            <img 
                src="{% static 'img/default_recipe.jpg' %}" 
                alt="Default recipe image" 
                class="recipe-thumb"
              />
            {% endif %}
        </div>
    </div>
    {% endfor %}

{% else %}
    <div class="no-collections">
    <p>No collections yet. Add one now!</p>
   
    <a class = "btn" href="{% url 'collection_create' %}"> Add a New Collection</a>
    </div>
{% endif %}
</div>
{% endblock %}

