{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<title>Create a Collection</title>
{% endblock%}

{% block content %}

{% if object%}
<h2>Edit the {{ object.name }} Collection</h2>

{% else %}
<h2>Create a New Collection</h2>

{% endif %}
  <form method="POST" enctype="multipart/form-data" data-loading-message="Creating your collection..." autocomplete="off">
    {% csrf_token %}
    {{ form.as_p }}
    {% if object %}
    <div class="button-container">
        <button type="submit">Update Collection</button>
        <a href="{% url 'collection_detail' object.id %}" class ="btn cancel-btn">Cancel</a>
    </div>
    {% else %}
        <button type="submit">Save Collection</button>
      
    {% endif %}
    
  </form>
{% endblock %}