h4 {
  margin-bottom: 0;
  font-weight: bold;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.title-container h2 {
  margin: 0;
  font-size: 1.75rem;
}

.title-container .btn {
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  line-height: 1;
  white-space: nowrap;
}
.recipe-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 250px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  color: inherit;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  overflow: visible;
  position: relative;
  z-index: 0;
}

.recipe-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.recipe-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.recipe-thumb-container {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  position: relative;
}

.description {
  line-height: 1;
}

.add-icon {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 10;
}

.collection-dropdown-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100000;
}

.collection-dropdown {
  position: absolute;
  top: -0.35rem;
  right: 0.8rem;
  background: transparent;
  padding: 0.5rem;
  border-radius: 6px;
  color: var(--color-text);
  z-index: 9999;
  width: max-content;
}

.hidden {
  display: none;
}

.add-icon i.fa-solid,
.add-icon i.fa-regular {
  font-size: 1.2rem;
  color: black;
  transition: color 0.3s ease;
}

.add-icon:hover i {
  color: var(--color-sand-yellow);
}
.collection-list {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  background-color: white;
  opacity: 0.95;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0.75em;
  top: 0.5rem;
  z-index: 999;
  width: max-content;
  min-width: 150px;
}

.collection-list li {
  line-height: 1.25;
}

.collection-item {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  /* padding: 0.25rem; */
  font-size: 0.95rem;
  /* line-height: 1; */
  cursor: pointer;
  color: #333;
}

.collection-item:hover {
  background-color: #f2f2f2;
}

.collection-item.disabled {
  color: #aaa;
  cursor: not-allowed;
  pointer-events: none;
}

.recipe-card:hover h4 {
  color: var(--color-teal-green);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-btn {
  background-color: var(--color-teal-green);
  color: var(--color-white);
}

.btn {
  border: none;
}

.modal-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-overlay.hidden {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination a {
  padding: 0.5rem 1rem;
  background-color: var(--color-teal-green);
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.pagination a:hover {
  background-color: var(--color-teal-green-hover);
}

.filter-form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filter-form label {
  font-weight: bold;
}

.filter-form select {
  padding: 0.5rem;
  border-radius: 5px;
}

.filter-form input[type="text"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.form-group label {
  white-space: nowrap;
}

.recipe-card .add-icon {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.recipe-card:hover .add-icon {
  opacity: 1;
  visibility: visible;
}

.add-icon.plus-mode {
  color: black;
  transition: transform 0.3s ease;
}

.add-icon.plus-mode:hover {
  color: var(--color-sand-yellow);
}

.author {
  font-size: 0.9rem;
  color: rgb(123, 117, 117);
  font-style: italic;
}

.no-recipes {
  text-align: center;
  margin: 1rem;
}

.no-recipes p,
.no-recipes .btn {
  margin: 1rem;
}

.reset {
  background-color: var(--color-coral-orange);
  color: white;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  line-height: normal;
}

.reset:hover {
  background-color: #f2c198;
}

@media (max-width: 768px) {
  .recipe-card .add-icon {
    opacity: 1;
    visibility: visible;
  }

  .add-icon {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .recipe-card {
    width: 350px;
    max-height: 500px;
  }

  .recipe-thumb-container {
    height: 300px;
  }
  .filter-form {
    flex-direction: column;
  }
}
